

.tablero{
    background: yellow;
    
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
}

div div{
    
    position: absolute;
    width: 50px;
    height: 50px;
}

h4{
    text-align: center;
}

.tablero__caja1{
    background:white;
    position: absolute;
}

.tablero__caja2{
    background:black;
    position: absolute;
    left: 50px;
}


.tablero__caja3{
    background:white;
    position: absolute;
    left:100px;
}

.tablero__caja4{
    background:black;
    position: absolute;
    left: 150px;
}

.tablero__caja5{
    background:white;
    position: absolute;
    left:200px;
}

.tablero__caja6{
    background:black;
    position: absolute;
    left: 250px;
}
.tablero__caja7{
    background:white;
    position: absolute;
    left:300px;
}

.tablero__caja8{
    background:black;
    position: absolute;
    left: 350px;
}

.tablero__caja9{
    background:black;
    position: absolute;
    top: 50px;
}

.tablero__caja10{
    background:white;
    position: absolute;
    top: 50px;
    left: 50px;
}

.tablero__caja11{
    background:black;
    position: absolute;
    top: 50px;
    left: 100px;
}

.tablero__caja12{
    background:white;
    position: absolute;
    top: 50px;
    left: 150px;
}

.tablero__caja13{
    background:black;
    position: absolute;
    top: 50px;
    left: 200px;
}

.tablero__caja14{
    background:white;
    position: absolute;
    top: 50px;
    left: 250px;
}

.tablero__caja15{
    background:black;
    position: absolute;
    top: 50px;
    left: 300px;
}

.tablero__caja16{
    background:white;
    position: absolute;
    top: 50px;
    left: 350px;
}

.tablero__caja17{
    background:white;
    position: absolute;
    top: 100px;
}

.tablero__caja18{
    background:black;
    position: absolute;
    top: 100px;
    left: 50px;
}


.tablero__caja19{
    background:white;
    position: absolute;
    top: 100px;
    left:100px;
}

.tablero__caja20{
    background:black;
    position: absolute;
    top: 100px;
    left: 150px;
}

.tablero__caja21{
    background:white;
    position: absolute;
    top: 100px;
    left:200px;
}

.tablero__caja22{
    background:black;
    position: absolute;
    top: 100px;
    left: 250px;
}
.tablero__caja23{
    background:white;
    position: absolute;
    top: 100px;
    left:300px;
}
.tablero__caja24{
    background:black;
    position: absolute;
    top: 100px;
    left:350px;
}


.tablero__caja25{
    background:black;
    position: absolute;
    top: 150px;
}

.tablero__caja26{
    background:white;
    position: absolute;
    top: 150px;
    left: 50px;
}

.tablero__caja27{
    background:black;
    position: absolute;
    top: 150px;
    left: 100px;
}

.tablero__caja28{
    background:white;
    position: absolute;
    top: 150px;
    left: 150px;
}

.tablero__caja29{
    background:black;
    position: absolute;
    top: 150px;
    left: 200px;
}

.tablero__caja30{
    background:white;
    position: absolute;
    top: 150px;
    left: 250px;
}

.tablero__caja31{
    background:black;
    position: absolute;
    top: 150px;
    left: 300px;
}

.tablero__caja32{
    background:white;
    position: absolute;
    top: 150px;
    left: 350px;
}



.tablero__caja33{
    background:white;
    position: absolute;
    top: 200px;
}

.tablero__caja34{
    background:black;
    position: absolute;
    top: 200px;
    left: 50px;
}


.tablero__caja35{
    background:white;
    position: absolute;
    top: 200px;
    left:100px;
}

.tablero__caja36{
    background:black;
    position: absolute;
    top: 200px;
    left: 150px;
}

.tablero__caja37{
    background:white;
    position: absolute;
    top: 200px;
    left:200px;
}

.tablero__caja38{
    background:black;
    position: absolute;
    top: 200px;
    left: 250px;
}
.tablero__caja39{
    background:white;
    position: absolute;
    top: 200px;
    left:300px;
}
.tablero__caja40{
    background:black;
    position: absolute;
    top: 200px;
    left:350px;
}


.tablero__caja41{
    background:black;
    position: absolute;
    top: 250px;
}

.tablero__caja42{
    background:white;
    position: absolute;
    top: 250px;
    left: 50px;
}

.tablero__caja43{
    background:black;
    position: absolute;
    top: 250px;
    left: 100px;
}

.tablero__caja44{
    background:white;
    position: absolute;
    top: 250px;
    left: 150px;
}

.tablero__caja45{
    background:black;
    position: absolute;
    top: 250px;
    left: 200px;
}

.tablero__caja46{
    background:white;
    position: absolute;
    top: 250px;
    left: 250px;
}

.tablero__caja47{
    background:black;
    position: absolute;
    top: 250px;
    left: 300px;
}

.tablero__caja48{
    background:white;
    position: absolute;
    top: 250px;
    left: 350px;
}


.tablero__caja49{
    background:white;
    position: absolute;
    top: 300px;
}

.tablero__caja50{
    background:black;
    position: absolute;
    top: 300px;
    left: 50px;
}


.tablero__caja51{
    background:white;
    position: absolute;
    top: 300px;
    left:100px;
}

.tablero__caja52{
    background:black;
    position: absolute;
    top: 300px;
    left: 150px;
}

.tablero__caja53{
    background:white;
    position: absolute;
    top: 300px;
    left:200px;
}

.tablero__caja54{
    background:black;
    position: absolute;
    top: 300px;
    left: 250px;
}
.tablero__caja55{
    background:white;
    position: absolute;
    top: 300px;
    left:300px;
}
.tablero__caja56{
    background:black;
    position: absolute;
    top: 300px;
    left:350px;
}


.tablero__caja57{
    background:black;
    position: absolute;
    top: 350px;
}

.tablero__caja58{
    background:white;
    position: absolute;
    top: 350px;
    left: 50px;
}

.tablero__caja59{
    background:black;
    position: absolute;
    top: 350px;
    left: 100px;
}

.tablero__caja60{
    background:white;
    position: absolute;
    top: 350px;
    left: 150px;
}

.tablero__caja61{
    background:black;
    position: absolute;
    top: 350px;
    left: 200px;
}

.tablero__caja62{
    background:white;
    position: absolute;
    top: 350px;
    left: 250px;
}

.tablero__caja63{
    background:black;
    position: absolute;
    top: 350px;
    left: 300px;
}

.tablero__caja64{
    background:white;
    position: absolute;
    top: 350px;
    left: 350px;
}